.header {
    background-color: orange;
    min-height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title__image {
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 100%;
}

.header__title__text {
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header__refresh {
    margin: 2px;
}